.about{
  margin-top:1rem;
  height: 35rem;
  
  h2{
    font-size: 2rem;
    font-weight: 500;
    padding:1rem 0 1rem 2rem;
    color:set-text-color($primary-color);
  }
  
  &__underline{
    position:absolute;
    height: 4px;
    width: 4.8rem;
    background:$secondary-color;
    margin:-1.2rem 0 0 2rem;
    border-radius:3px;

    &.open{
      visibility: hidden;
    }
  }
  .flex{
    display:flex;
  }

  &__img{
    margin-left:1.7rem;
    border-radius: 4%;
  }

  &__detail{
    padding:1rem 0 0 2rem;
    width:40vw;
  }
}