.menu-nav{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  list-style-type: none;
  
  &__link{
    text-transform: uppercase;
    padding-right:1rem;
    font-size: 1.4rem;
    font-weight: 400;
    @include transition-ease;

    &:hover {
      color:$secondary-color;
    }
  }
}
