@include media-md{
  .menu-btn{
    z-index: 88;
    position: absolute;
    height: 20px;
    width: 28px;
    right: 1rem;
    cursor: pointer;
    @include transition-ease;

    &__burger{
      position: absolute;
      top:0.5rem;
      height: 3px;
      width: 28px;
      background:set-text-color($primary-color);
      @include transition-ease;

      &::before{
      content: '';
      position: absolute;
      top:-8px;
      height: 3px;
      width: 28px;
      background:set-text-color($primary-color);
      @include transition-ease;
      }

      &::after{
      content: '';
      position: absolute;
      top:8px;
      height: 3px;
      width: 20px;
      background:set-text-color($primary-color);
      @include transition-ease;
      }

      &.open{
        background: transparent;
        transform:rotate(720deg);

        &::before{
          transform:rotate(45deg) translate(5px,8px);
        }

        &::after{
          width: 28px;
          transform:rotate(-45deg) translate(3px,-7px);
        }
      }
    }
  }
  
  header{
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background:transparent;
  }
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    background:$primary-color;
    opacity: 0.98;
    visibility: hidden;

    &.open{
      visibility: visible;
    }

    .menu-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $primary-color;
    padding-right: 1rem;
    transform:translateY(-100%);
    @include transition-ease;

    &.open{
      transform:translateY(0);
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease;

      &.open {
        transform: translateX(0); 
      }

      &.active > a {
        color: $secondary-color;
      }
    }

    &__link{
      display:inline-block;
      font-size:2rem;
      font-weight:300;
      padding:1.5rem 0;
      padding-right:0;
    }
    }
  }
@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}){
    transition-delay: ($i * 0.1s)+ 0.15s;
  }
}

.home{
  height: 15rem;
  width: 85vw;
  padding-top:2vh;
  h1{
    font-size:1.5rem;
    padding-left:0.4rem;
    width:60%;
  }
  p{
    padding-left: 0.3rem;
    font-size:0.9rem;
    padding-top:0.6rem;
  }
    .hidden{
      visibility: hidden;
    }
}
.shop{
  height:31rem;
  

  .hidden-in-pc-view{
    visibility: visible;
  }
  &__items{
    grid-template-columns:1fr 1fr 1fr;
    padding:1rem 0 1rem 1rem;
    
  }
  &__item{
    margin: 0 2rem 1.8rem 0.8rem;
    
    &-name {
      font-weight: 300;
    }
    img {
      height:80%;
    }
  }
}
.about{
  width:85vw;
  height:26rem;

  .flex{
    flex-direction: column;
  }
  &__img{
    width:85vw;
    height:10rem;
    object-fit: cover;
    border-radius: 6px;
  }
  &__detail{
    width:85vw;
  }
}

}