@import 'config';
@import 'menu';
@import 'home';
@import 'shop';
@import 'about';
@import 'responsive';


body{
  height:100vh;
  background:$primary-color;
  color:set-text-color($primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  padding: 2rem;
  background: $primary-color;
  z-index: 5;

  .navbar {
  display: flex;
  align-items: center;
  justify-content:space-between;

  .logo {
    width: 100%;
  }
  }
}

a{
  text-decoration: none;
  color:set-text-color($primary-color);
}

main{
  height: 100%;
  width: 100%;
}

footer{
  font-size:1rem;
  bottom: 0.4rem;
  color:set-text-color($primary-color);
  padding:1rem 1rem 1rem 2rem;
}
